<div class="content-details">
  <div class="content-details-header">
    <h2>Monitoring Tasks</h2>
    <div class="content-header-actions">
      <label>
        Device:
        <select [value]="selectedDeviceId()" (change)="onDeviceChange($event)">
          <option value="" disabled>Select device</option>
          @for (device of devices(); track device.id) {
            <option [value]="device.id">{{ device.name }} [{{ device.ipAddress }}]</option>
          }
        </select>
      </label>

      <button
        type="button"
        [disabled]="this.selectedDeviceId() === ''"
        (click)="openCreateDialog()"
      >
        <i class="fa-solid fa-plus"></i> Create
      </button>
    </div>
  </div>
  @if (message() || errorMessage()) {
    <div class="message-box">
      @if (errorMessage(); as errorMessage) {
        <p class="error-message">{{ errorMessage }}</p>
      }
      @if (message(); as message) {
        <p class="success-message">{{ message }}</p>
      }
    </div>
  }
  <div class="content-details-body">
    @if (selectedDeviceId() && tasks().length > 0) {
      <div class="cards-container">
        @for (task of tasks(); track task.id) {
          <div class="card">
            <div class="card-header">
              <div>
                <h3>Task #{{ task.id }}</h3>
                <span class="card-object-type">{{ TASK_TYPE_LABELS[task.type] }}</span>
              </div>

              <button type="button" class="action-button">
                <i class="fa-solid fa-chart-line"></i> Metrics
              </button>
            </div>

            <div class="card-body">
              <div class="detail-row">
                <span class="detail-label">Interval</span>
                <span>{{ task.interval.replace('PT', '') }}</span>
              </div>
              @switch (task.type) {
                @case (TaskType.PING) {
                  <div class="detail-row">
                    <span class="detail-label">Timeout</span>
                    <span>{{ task.configuration.timeout.replace('PT', '') }}</span>
                  </div>
                }

                @case (TaskType.TELNET) {
                  <div class="detail-row">
                    <span class="detail-label">Port</span>
                    <span>{{ task.configuration.port }}</span>
                  </div>

                  <div class="detail-row">
                    <span class="detail-label">Timeout</span>
                    <span>{{ task.configuration.timeout.replace('PT', '') }}</span>
                  </div>
                }

                @case (TaskType.HTTP_HEALTHCHECK) {
                  <div class="detail-row">
                    <span class="detail-label">Port</span>
                    <span>{{ task.configuration.port }}</span>
                  </div>

                  <div class="detail-row">
                    <span class="detail-label">Path</span>
                    <span>{{ task.configuration.path }}</span>
                  </div>

                  <div class="detail-row">
                    <span class="detail-label">Timeout</span>
                    <span>{{ task.configuration.timeout.replace('PT', '') }}</span>
                  </div>
                }
              }

              <div class="detail-row">
                <span class="detail-label">Created</span>
                <span>{{ task.createdAt | date: 'yyyy-MM-dd HH:mm' }}</span>
              </div>

              <div class="detail-row">
                <span class="detail-label">Updated</span>
                <span>{{ task.updatedAt | date: 'yyyy-MM-dd HH:mm' }}</span>
              </div>

              <div class="detail-row">
                <span class="detail-label">Status</span>
                <span
                  class="badge"
                  [class.success]="task.isEnabled"
                  [class.danger]="!task.isEnabled"
                >
                  {{ task.isEnabled ? 'Enabled' : 'Disabled' }}
                </span>
              </div>
            </div>

            <div class="card-actions">
              <button type="button" class="action-button" (click)="openEditDialog(task)">
                <i class="fa-solid fa-pen"></i> Edit
              </button>

              @if (task.isEnabled) {
                <button type="button" class="action-button danger" (click)="disable(task.id)">
                  <i class="fa-solid fa-ban"></i> Disable
                </button>
              } @else {
                <button type="button" class="action-button success" (click)="enable(task.id)">
                  <i class="fa-solid fa-play"></i> Enable
                </button>
              }

              <button type="button" class="action-button danger" (click)="delete(task)">
                <i class="fa-solid fa-trash"></i> Delete
              </button>
            </div>
          </div>
        }
      </div>
    } @else if (!selectedDeviceId()) {
      <p>Please select a device to view its monitoring tasks.</p>
    } @else {
      <p>No monitoring tasks found for the selected device.</p>
      <p>Create new task first.</p>
    }
  </div>
</div>
