<div class="dialog">
  <h2 class="centered">{{ isSetPasswordMode ? 'Set password' : 'Change password' }}</h2>
  <form class="auth-form" [formGroup]="passwordForm" (ngSubmit)="submit()">
    @if (!isSetPasswordMode) {
      <div class="form-group">
        <label for="oldPassword">Old password</label>
        <input id="oldPassword" formControlName="oldPassword" type="password" required />
        @if (
          passwordForm.controls.oldPassword.touched &&
          passwordForm.controls.oldPassword.hasError('required')
        ) {
          <small class="error-message">Old password is required</small>
        }
      </div>
    }
    <div class="form-group">
      <label for="newPassword">New password</label>
      <input id="newPassword" formControlName="newPassword" type="password" required />
      @if (
        passwordForm.controls.newPassword.touched &&
        passwordForm.controls.newPassword.hasError('required')
      ) {
        <small class="error-message">New password is required</small>
      }
    </div>
    <div class="form-group">
      <label for="repeatNewPassword">Repeat new password</label>
      <input id="repeatNewPassword" formControlName="repeatNewPassword" type="password" required />
      @if (
        passwordForm.controls.repeatNewPassword.touched &&
        passwordForm.controls.repeatNewPassword.hasError('required')
      ) {
        <small class="error-message">You must repeat new password</small>
      }
      @if (
        passwordForm.hasError('passwordMismatch') && passwordForm.controls.repeatNewPassword.touched
      ) {
        <small class="error-message">Passwords do not match</small>
      }
    </div>
    <div class="form-actions">
      <button type="button" (click)="closeDialog()">Cancel</button>
      <button type="submit">Save</button>
    </div>
    @if (errorMessage()) {
      <p class="error-message centered">{{ errorMessage() }}</p>
    }
  </form>
</div>
