<div class="dialog">
  <h2 class="centered">Add task</h2>
  <form class="form" [formGroup]="taskCreateForm" (ngSubmit)="submit()">
    <div class="form-group">
      <label for="type">Type</label>
      <select id="type" formControlName="type">
        <option value="" disabled>Select task type</option>
        @for (type of taskTypes; track type) {
          <option [value]="type">{{ TASK_TYPE_LABELS[type] }}</option>
        }
      </select>
      @if (taskCreateForm.controls.type.invalid && taskCreateForm.controls.type.touched) {
        <small class="error-message">Valid task type must be selected</small>
      }
    </div>
    <div class="form-group">
      <label for="intervalSeconds">Enter task interval (seconds)</label>
      <input
        id="intervalSeconds"
        type="number"
        min="1"
        max="60"
        formControlName="intervalSeconds"
      />
      @if (
        taskCreateForm.controls.intervalSeconds.invalid &&
        taskCreateForm.controls.intervalSeconds.touched
      ) {
        <small class="error-message">An interval between 1s and 1m must be provided.</small>
      }
    </div>
    <div class="subform" formGroupName="configuration">
      @switch (taskCreateForm.controls.type.value) {
        @case (TaskType.PING) {
          <div class="form-group">
            <label for="timeoutSeconds">Enter acceptable timeout (seconds)</label>
            <input
              id="timeoutSeconds"
              type="number"
              min="0.5"
              max="5"
              step="0.5"
              formControlName="timeoutSeconds"
            />

            @if (
              taskCreateForm.controls.configuration.controls.timeoutSeconds.invalid &&
              taskCreateForm.controls.configuration.controls.timeoutSeconds.touched
            ) {
              <small class="error-message">A timeout between 0.5s and 5s must be provided.</small>
            }
          </div>
        }

        @case (TaskType.TELNET) {
          <div class="form-group">
            <label for="port">Port</label>
            <input id="port" type="number" min="1" max="65535" formControlName="port" />

            @if (
              taskCreateForm.controls.configuration.controls.port.invalid &&
              taskCreateForm.controls.configuration.controls.port.touched
            ) {
              <small class="error-message">Port must be between 1 and 65535.</small>
            }
          </div>

          <div class="form-group">
            <label for="timeoutSeconds">Enter acceptable timeout (seconds)</label>
            <input
              id="timeoutSeconds"
              type="number"
              min="0.5"
              max="5"
              step="0.5"
              formControlName="timeoutSeconds"
            />

            @if (
              taskCreateForm.controls.configuration.controls.timeoutSeconds.invalid &&
              taskCreateForm.controls.configuration.controls.timeoutSeconds.touched
            ) {
              <small class="error-message">A timeout between 0.5s and 5s must be provided.</small>
            }
          </div>
        }

        @case (TaskType.HTTP_HEALTHCHECK) {
          <div class="form-group">
            <label for="path">Path</label>
            <input id="path" type="text" formControlName="path" placeholder="/health" />

            @if (
              taskCreateForm.controls.configuration.controls.path.invalid &&
              taskCreateForm.controls.configuration.controls.path.touched
            ) {
              <small class="error-message">Path is required.</small>
            }
          </div>

          <div class="form-group">
            <label for="port">Port</label>
            <input id="port" type="number" min="1" max="65535" formControlName="port" />

            @if (
              taskCreateForm.controls.configuration.controls.port.invalid &&
              taskCreateForm.controls.configuration.controls.port.touched
            ) {
              <small class="error-message">Port must be between 1 and 65535.</small>
            }
          </div>

          <div class="form-group">
            <label for="timeoutSeconds">Enter acceptable timeout (seconds)</label>
            <input
              id="timeoutSeconds"
              type="number"
              min="0.5"
              max="5"
              step="0.5"
              formControlName="timeoutSeconds"
            />

            @if (
              taskCreateForm.controls.configuration.controls.timeoutSeconds.invalid &&
              taskCreateForm.controls.configuration.controls.timeoutSeconds.touched
            ) {
              <small class="error-message">A timeout between 0.5s and 5s must be provided.</small>
            }
          </div>
        }
      }
    </div>
    <div class="form-actions">
      <button type="reset">Clear</button>
      <button type="submit">Create</button>
    </div>
    @if (errorMessage()) {
      <p class="error-message centered">{{ errorMessage() }}</p>
    }
  </form>
</div>
