@if (user(); as user) {
  <p>Welcome, {{ user.email }}!</p>
  <small>Account created at: {{ user.createdAt | date:'dd.MM.yyyy HH:mm' }}</small>
  @if (user.profile; as profile) {
    <p>Detailed info:</p>
    <ul>
      <li>Username: {{ profile.username }}</li>
      <li>First Name: {{ profile.firstName }}</li>
      <li>Last Name: {{ profile.lastName }}</li>
      <li>Birth Date: {{ profile.birthDate }}</li>
      <li>Bio: {{ profile.bio }}</li>
    </ul>
    <button type="button" (click)="openUpdateProfile()">Update Profile</button>
  } @else {
    <p>No profile information available.</p>
    <button type="button" (click)="openCreateProfile()">Create Profile</button>
  }
} @else {
  <p>Loading...</p>
}
