<div>
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <label for="email">Email:</label>
    <input type="email" id="email" formControlName="email">
    @if (loginForm.controls.email.touched && loginForm.controls.email.hasError('required')) {
    <small>Email jest wymagany.</small>
    }

    @if (loginForm.controls.email.touched && loginForm.controls.email.hasError('email')) {
    <small>Niepoprawny adres email.</small>
    }
    <label for="password">Password:</label>
    <input type="password" id="password" formControlName="password">
    @if (loginForm.controls.password.touched && loginForm.controls.password.hasError('required')) {
    <small>Hasło jest wymagane.</small>
    }
    <span>
      <button type="reset">Reset</button>
      <button type="submit">Log In</button>
    </span>
    @if (errorMessage()) {
    <p class="error-message">{{ errorMessage() }}</p>
    }
  </form>
  <div>
    <button (click)="loginWithGoogle()">Continue with Google</button>
    <button (click)="loginWithGithub()">Continue with Github</button>
  </div>
</div>