<div class="form-container">
  <h2>Log In</h2>
  <form [formGroup]="loginForm" (ngSubmit)="login()" class="auth-form">
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" id="email" formControlName="email" />
      @if (loginForm.controls.email.touched && loginForm.controls.email.hasError('required')) {
        <small class="error-message">Email is required.</small>
      }
      @if (loginForm.controls.email.touched && loginForm.controls.email.hasError('email')) {
        <small class="error-message">Wrong email format.</small>
      }
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" id="password" formControlName="password" />
      @if (
        loginForm.controls.password.touched && loginForm.controls.password.hasError('required')
      ) {
        <small class="error-message">Password is required.</small>
      }
    </div>
    <div class="form-actions">
      <button type="reset">Reset</button>
      <button type="submit">Log In</button>
    </div>
    @if (errorMessage()) {
      <p class="error-message centered">{{ errorMessage() }}</p>
    }
    @if (registered()) {
      <p class="success-message centered">You have successfully registered. Please log in.</p>
    }
    @if (passwordReset()) {
      <p class="success-message centered">
        Your password has been reset successfully. You can now log in with your new password.
      </p>
    }
  </form>
  <div class="additional-actions">
    <div class="separator">
      <span>Login with</span>
    </div>
    <div class="additional-actions-row">
      <button (click)="loginWithProvider(IdentityProvider.GOOGLE)">Google</button>
      <button (click)="loginWithProvider(IdentityProvider.GITHUB)">Github</button>
    </div>
    <div class="separator">
      <span>or</span>
    </div>
    <a routerLink="/password-reset/request" class="form-link centered">Forgot your password?</a>
    <a routerLink="/register" class="form-link centered">Don't have an account yet?</a>
  </div>
</div>
