:host {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.additional-actions {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 0 20px 25px 20px;
  align-items: center;
  justify-content: center;
  width: 100%;

  .additional-actions-row {
    display: flex;
    flex-direction: row;
    gap: 15px;
  }
}
