<div>
  <form [formGroup]="registerForm" (ngSubmit)="register()">
    <label for="email">Email:</label>
    <input type="email" id="email" formControlName="email">

    <label for="password">Password:</label>
    <input type="password" id="password" formControlName="newPassword">

    <label for="repeatPassword">Repeat Password:</label>
    <input type="password" id="repeatPassword" formControlName="repeatNewPassword">

    <div>
      <button type="reset">Clear</button>
      <button type="submit">Register</button>
    </div>
  </form>
</div>
