POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=nh-db

DATABASE_URL="jdbc:postgresql://nh-postgres:5432/${POSTGRES_DB}"
DATABASE_USERNAME="${POSTGRES_USER}"
DATABASE_PASSWORD="${POSTGRES_PASSWORD}"
