POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=nh-db

DATABASE_URL="jdbc:postgresql://nh-postgres:5432/${POSTGRES_DB}"
DATABASE_USERNAME="${POSTGRES_USER}"
DATABASE_PASSWORD="${POSTGRES_PASSWORD}"

JWT_SECRET_KEY=paste_your_secret_key_here
JWT_EXPIRATION=1h
REFRESH_TOKEN_EXPIRATION=7d
OAUTH2_CONTEXT_EXPIRATION=5m
OAUTH2_AUTHORIZATION_REQUEST_EXPIRATION=5m
PASSWORD_RESET_TOKEN_EXPIRATION=15m

GOOGLE_CLIENT_ID=paste_your_google_client_id_here
GOOGLE_CLIENT_SECRET=paste_your_google_client_secret_here
GITHUB_CLIENT_ID=paste_your_github_client_id_here
GITHUB_CLIENT_SECRET=paste_your_github_client_secret_here

FRONTEND_URL=http://localhost:80
FRONTEND_OAUTH2_SUCCESS_URL="${FRONTEND_URL}/oauth2/success"
FRONTEND_OAUTH2_FAILURE_URL="${FRONTEND_URL}/oauth2/failure"
ALLOWED_CORS_ORIGINS=http://localhost:80,http://localhost:3000,http://localhost:4200

SPRING_MAIL_HOST=smtp.example.com
SPRING_MAIL_PORT=587
SPRING_MAIL_USERNAME=username
SPRING_MAIL_PASSWORD=password
SPRING_MAIL_AUTH_ENABLE=true
SPRING_MAIL_STARTTLS_ENABLE=true